 
@{
    Layout = "_ManagmentLayout";

}


<div id="appProject">


    <section class="content-header">
        <h1>
            項目臺帳
            <small>查詢</small>
        </h1>
        <ol class="breadcrumb">
            <li>工程管理</li>
            <li class="active">項目臺帳</li>
        </ol>
    </section>
    <!-- 主內容 -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">項目臺帳</h3>

                        
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>項目編號</label>
                                    <input type="text" class="form-control" placeholder="項目編號" v-model="filterColumns.projectCode">
                                </div>

                            </div>

                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>項目經理</label>
                                    <input type="text" class="form-control" placeholder="項目名稱" v-model="filterColumns.projectManager">
                                </div>

                            </div>
                         


                        </div>
                        <div class="row " style="margin-top:5px">



                            <div class="col-md-4  form-inline">
                                <div class="form-group" align="right">

                                    <div class="input-group">


                                        <button class="btn btn-info" type="submit" v-on:click="onSearchBatch(true)">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查詢
                                        </button>

                                        <button class="btn btn-default" v-on:click="filterColumns = onreset()">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="box-footer" align="right">

                        <el-table :data="datasource">

                            <el-table-column label="操作" width="180">
                                <template slot-scope="scope">
                                    <el-button type="text" style="padding: 0px;" @@click="onOpenProject(scope.row)"> 查看 </el-button>
                                </template>
                            </el-table-column>


                            @Html.GetTableColumn(typeof(ProjectStandingbookDto))
                        </el-table>

                        <bg-edit-project :visible.sync="innerVisibleEditProject" v-on:closed="onSearchBatch" :projectid="rec.id"></bg-edit-project>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>


    Vue.use(DYVue);
</script>

<partial name="~/Views/Standingbook/PartialEditProject.cshtml" />


<script type="text/javascript">



        new Vue({
            el: '#appProject',

            data: function () {
                return {

                    total:0 ,
                    pagesize: 10,
                    contractAmountRangeOption:@Html.GetBasics(BasicsCode.ContractAmountRange) ,
                    datasource: [],
                    rec: {id:''},
                    innerVisibleAddProject: false,
                    innerVisibleEditProject:false,
                    filterColumns: this.onreset()
                };
            },
            filters: {
            },
            methods: {

                onSearchBatch: async function (flag) {
                    if (flag) { this.filterColumns.pageno = 1; }
                    var filter =  { ...this.filterColumns }

                    var response = await this.$http.get("/api/Project/Standingbook", { params: filter });
                    this.total = response.data.total;
                    this.datasource = response.data.items;


                },
                onreset: function () {
                   return {
                       projectCode: '',
                       projectName: '',
                       projectMain: '',
                       projectManager: '',
                       projectState: '',
                       contractAmount: '',
                       contractType: '',
                        greeCode: [],
                        pageno: 1};
                },
                onChangePager: function (current) {

                    this.pageno = current;
                    this.onSearchBatch(false);
                },
                onAddProject: function (){
                    this.innerVisibleAddProject = true;
                },
                onOpenProject: function (entity) {
                    this.rec = entity;
                    this.innerVisibleEditProject = true;
                }





            },
            created: function () {
                this.onSearchBatch(true);
            },
            updated: function(){

            },
            watch: {


            }

        });


</script>
