
@{


}
<style>
    .box-card {
        width: 100%;
    }
</style>
<script type="text/x-template" id="addcostout">

    <el-dialog width="80%"
               title="成本支出"
               :visible.sync="eldialogvisible"
               append-to-body>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="eldialogvisible = false">取 消</el-button>
            <el-button type="danger" @@click="onSumbit()">保存</el-button>
        </span>
        <el-container>
            <el-main>

                <el-card class="box-card">


                     

                    <div class="row">

                        <div class="col-md-3 form-inline">
                            

                                <div class="form-group">
                                    <label>單號</label>
                                    <el-input type="text"v-model="rec.orderNo" placeholder="單號"></el-input>
                                </div>

                        

                        </div>
                        <div class="col-md-3 form-inline">
                            
                                <div class="form-group">
                                    <label>類別</label>
                                    <el-select placeholder="類別" v-model="rec.costTypeId" filterable>
                                        <el-option v-for="item in costTypeOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                             

                        </div>
                        <div class="col-md-3 form-inline">
                          
                                <div class="form-group">
                                    <label>日期</label>
                                    <el-date-picker type="date" v-model="rec.costoutDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="日期">
                                    </el-date-picker>
                                </div>

                         

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 form-inline">

                            <div class="form-group">
                                <label>承擔部門</label>
                                <el-select placeholder="承擔部門" v-model="rec.departmentId" filterable>
                                    <el-option v-for="item in departmentOptions"
                                               :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                    </el-option>
                                </el-select>

                            </div>



                        </div>     
                        <div class="col-md-3 form-inline">

                            <div class="form-group">
                                <label>收入支出單位</label>
                                <el-select placeholder="收入支出單位" v-model="rec.partyId" filterable>
                                    <el-option v-for="item in partyOptions"
                                               :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                    </el-option>
                                </el-select>

                            </div>



                        </div>
                        <div class="col-md-3 form-inline">

                            <div class="form-group">
                                <label>摘要</label>
                                <el-input type="text" v-model="rec.title" placeholder="摘要"></el-input>
                            </div>



                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 form-inline">
                          
                            <div class="form-group">
                                <label>幣種</label>
                                <el-select placeholder="幣種" v-model="rec.currencyId" filterable>
                                    <el-option v-for="item in currencyOptions"
                                               :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                    </el-option>
                                </el-select>
                               
                            </div>
 

                        </div>
                        <div class="col-md-3 form-inline">
                        
                                <div class="form-group">
                                    <label>借方金額（收）</label>
                                    <el-input type="text"v-model="rec.receiveAmount" placeholder="借方金額（收）"></el-input>
                                </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                          
                                <div class="form-group">
                                    <label>貸方金額（支）</label>
                                    <el-input type="text"v-model="rec.expendAmount" placeholder="貸方金額（支）"></el-input>
                                </div>
                             

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 form-inline">
                           
                                <div class="form-group">
                                    <label>發票號</label>
                                    <el-input type="text"v-model="rec.invoiceNo" placeholder="發票號"></el-input>
                                </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                            <div class="form-group">
                                <label>結算方式</label> 
                                <el-select placeholder="結算方式" v-model="rec.settlementMethodId" filterable>
                                    <el-option v-for="item in settlementMethodOptions"
                                               :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                    </el-option>
                                </el-select>
                              
                            </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                                <div class="form-group">
                                    <label>支票號</label>
                                    <el-input type="text"v-model="rec.checkNumber" placeholder="支票號"></el-input>
                                </div>
                             

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 form-inline">
                           
                            <div class="form-group">
                                <label>開票日期</label>
                            
                                <el-date-picker type="date" v-model="rec.invoiceDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="開票日期">
                                </el-date-picker>
                            </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                            <div class="form-group">
                                <label>轉數/入數日期</label>
                                <el-date-picker type="date" v-model="rec.transferDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="轉數/入數日期">
                                </el-date-picker>
                              
                            </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                            <div class="form-group">
                                <label>預計付款日期</label>

                                <el-date-picker type="date" v-model="rec.expectedPaymentDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="預計付款日期">
                                </el-date-picker>
                               
                            </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                                <div class="form-group">
                                    <label>收/付款跟進人</label>
                                    <el-input type="text"v-model="rec.followUser" placeholder="收/付款跟進人"></el-input>
                                </div>
                             

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3 form-inline">
                        
                                <div class="form-group">
                                    <label>調撥單號</label>
                                    <el-input type="text"v-model="rec.dispatcher" placeholder="調撥單號"></el-input>
                                </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                            <div class="form-group">
                                <label>兌票日期</label>
                                <el-date-picker type="date" v-model="rec.exchangeDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="兌票日期">
                                </el-date-picker>
                              
                            </div>
 

                        </div>
                        <div class="col-md-3 form-inline">
                          
                                <div class="form-group">
                                    <label>會計確認</label>
                                    <el-switch type="text"v-model="rec.confirmation" placeholder="會計確認"></el-switch>
                                </div>
                             

                        </div>
                        <div class="col-md-3 form-inline">
                           
                                <div class="form-group">
                                    <label>單據是否交接</label>
                                    <el-switch type="text"v-model="rec.handover" placeholder="單據是否交接"></el-switch>
                                </div>
                             

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 form-inline">
                            <div class="form-group">

                                <label>備註</label>
                                <el-input type="textarea"
                                          :autosize="{ minRows: 3, maxRows: 7}" style="width: 700px;"
                                          placeholder="備註"
                                          v-model="rec.remark">
                                </el-input>
                            </div>

                        </div>
                    </div>
                </el-card>




            </el-main>
        </el-container>
    </el-dialog>


</script>

<script type="text/javascript">


    Vue.component('bg-add-costout',
        {

            template: '#addcostout',
            data: function () {
                return {
                    eldialogvisible: this.visible,
                    costTypeOptions:@Html.GetBasics(BasicsCode.ContractType),
                    departmentOptions:@Html.GetBasics(BasicsCode.Department),
                    currencyOptions:@Html.GetBasics(BasicsCode.Currency),
                    settlementMethodOptions:@Html.GetBasics(BasicsCode.SettlementMethod),
                    partyOptions:@Html.GetLastHome(),
                    rec: {}
                };
            },
            filters: {

            },
            methods: {



                onSumbit: async function () {
                    console.log('projectid', this.rec.projectid)
                    await this.$http.post("/api/Project/costout" ,this.rec);
                    this.eldialogvisible = false;
                    this.$emit('closed', true);

                },



            },
            updated: function () {

            },
            watch: {
                visible: function (val) {

                    if (val) this.rec.projectid = this.projectid;
                    this.eldialogvisible = val;
                },
                eldialogvisible: function (val) {

                    if (val) return;

                    this.$emit('update:visible', val)
                },
                projectid: function (val) {

                    this.rec.projectid = val;

                },

            },
            props: {

                projectid: String,
                visible: Boolean
            }
        });


</script>
