
@{


}
<style>
    .box-card {
        width: 100%;
    }
</style>
<script type="text/x-template" id="costin">



    <div>
        <bg-add-costin :visible.sync="innerVisiblecostin" v-on:closed="onSearchCost" :item="rec" :projectid="projectid"></bg-add-costin>
        <el-row>
            <el-button icon="el-icon-search" circle></el-button>
            <el-button type="primary" icon="el-icon-edit" circle @@click="onAdd" ></el-button>

        </el-row>
        <el-table style="width: 100%" :data="datasource">
            <el-table-column prop="invoiceDate" label="開票日期">
            </el-table-column>
            <el-table-column prop="lastHomeId" label="上家" :formatter="formatterLastHome">
            </el-table-column>
            <el-table-column prop="title" label="摘要">
            </el-table-column>
            <el-table-column prop="invoiceNo" label="發票編號">
            </el-table-column>
            <el-table-column prop="contractAmount" label="合約金額">
            </el-table-column>
            <el-table-column prop="settlementAmount" label="結算金額">
            </el-table-column>
            <el-table-column prop="originalContractAmount" label="原合約申請金額">
            </el-table-column>
            <el-table-column prop="additionalAmount" label="後加申請金額">
            </el-table-column>
            <el-table-column prop="invoiceAmount" label="發票申請金額">
            </el-table-column>
            <el-table-column prop="securingAmountRate" label="保固金比例">
            </el-table-column>
            <el-table-column prop="subtractSecuringAmount" label="扣減保固金">
            </el-table-column>
            <el-table-column prop="subtractPrepaidAmount" label="扣減預付款">
            </el-table-column>
            <el-table-column prop="subtractOtherAmount" label="扣除其他款項">
            </el-table-column>
            <el-table-column prop="receivableInvoiceAmount" label="應收發票金額">
            </el-table-column>
            <el-table-column prop="receivedProjectAmount" label="已收工程款金額">
            </el-table-column>
            <el-table-column prop="receivedProjectDate" label="收款日期（工程款）">
            </el-table-column>
            <el-table-column prop="receivedSecuringAmount" label="已收保固金金額">
            </el-table-column>
            <el-table-column prop="receivedSecuringAmountDate" label="收款日期（保固金）">
            </el-table-column>
            <el-table-column prop="surplusProjectAmount" label="餘額（工程款）">
            </el-table-column>
            <el-table-column prop="surplusSecuringAmount" label="餘額（保固金）">
            </el-table-column>
            <el-table-column prop="remark" label="備註" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button @@click="onEdit(scope.row)">修改</el-button>
                    <el-button>归档</el-button>

                </template>
            </el-table-column>
        </el-table>

    </div>



</script>

<script type="text/javascript">


    Vue.component('bg-costin',
        {

            template: '#costin',
            data: function () {
                return {
                    eldialogvisible: this.visible,
                    innerVisiblecostin: false,
                    rec: {}
                };
            },
            filters: {

            },
            methods: {


                formatterLastHome: function (row, column, cellValue, index) {

                    var projectTypes =@Html.GetLastHome( );
                    var itemfilter = projectTypes.filter(x => x.id == cellValue);

                    if (itemfilter && itemfilter.length>0) return itemfilter[0].label;
                    return cellValue;

                },
                onSearchCost: function () {

                },
                onAdd: function () {
                    this.rec = undefined;
                    this.innerVisiblecostin = true
                } , onEdit: function (val) {
                    this.rec = val;
                    this.innerVisiblecostin = true
                }



            },
            updated: function () {

            },
            watch: {


            },
            props: {
                datasource: Array,
                projectid: String,

            }
        });


</script>
