
@{


}
<style>
    .demo-drawer__content {
        display: flex;
        flex-direction: column;
        height: 100%
    }

        .demo-drawer__content form {
            flex: 1
        }

    .demo-drawer__footer {
        display: flex
    }

        .demo-drawer__footer button {
            flex: 1
        }
</style>
<script type="text/x-template" id="editproject">

    <el-dialog width="90%"
               title="工程项目明細"
               :visible.sync="eldialogvisible"
               append-to-body>

        <span slot="footer" class="dialog-footer">
            <el-button @@click="eldialogvisible = false">取 消</el-button>
            <el-button type="danger" @@click="onSumbit()">保存</el-button>
        </span>

        <el-card>

            <el-drawer :visible.sync="innerDrawer" :append-to-body="true" title="项目变更"
                       custom-class="demo-drawer" ref="drawer">
                <div class="demo-drawer__content">
                    <el-form :model="form">
                        <el-form-item label="項目名称">

                            <el-input v-model="form.name" placeholder="項目名称">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="項目地址">

                            <el-input v-model="form.address" placeholder="項目地址">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="項目經理">

                            <el-select v-model="form.managerId" placeholder="項目經理">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="最終責任人">
                            <el-select v-model="form.supremeManagerId" placeholder="最終責任人">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="合同金額">
                            <el-input-number placeholder="合同金額" v-model="form.contractAmount" controls-position="right">
                            </el-input-number>
                        </el-form-item>
                        <el-form-item label="目標成本">
                            <el-input-number placeholder="目標成本" v-model="form.costAmount" controls-position="right">
                            </el-input-number>
                        </el-form-item>
                    </el-form>

                    <div class="demo-drawer__footer">
                        <el-button>  取 消   </el-button>
                        <el-button type="primary">  确 定   </el-button>
                    </div>
                </div>
            </el-drawer>
            <div class="card-body">
                <h5 class="card-title">{{project.name}}[{{project.code}}] <el-button size="small" @@click="innerDrawer=true" icon="el-icon-setting">项目变更【管理员使用】</el-button></h5>
                <p class="card-text">地址: {{project.address}}</p>

                <div class="row">

                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>現金流入</label>
                                {{project.cashInAmount}}

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>現金流出</label>
                                {{project.cashOutAmount}}

                            </div>

                        </div>

                    </div>   <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>應收賬款</label>
                                {{project.receivableAmount}}

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>應付賬款</label>
                                {{project.payableAmount}}

                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>工程进度</label>

                                {{project.stateDisplay}}

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <div class="form-group">
                                <label>項目經理</label>
                                {{project.managerName}}

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 form-inline">
                        <div class="form-group">

                            <label>最終責任人</label>   {{project.supremeManagerName}}

                        </div>

                    </div>
                </div>
      

            </div>

            <el-tabs v-model="activeName">
                <el-tab-pane label="基本信息" name="first">
                    <div>
                        <div class="row">

                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>合同金額</label>
                                    <el-input-number placeholder="合同金額" v-model="project.contractAmount" controls-position="right">
                                    </el-input-number>
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <div class="form-group">
                                        <label>目標成本</label>
                                        <el-input-number placeholder="目標成本" v-model="project.costAmount" controls-position="right">
                                        </el-input-number>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>保固應收</label>
                                    <el-input-number placeholder="保固金比例" v-model="project.securingAmount" controls-position="right">
                                    </el-input-number>
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>保固金比例</label>
                                    <el-input-number placeholder="保固金比例" v-model="project.securingAmountRate" controls-position="right">
                                    </el-input-number>
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>保固應付</label>
                                    <el-input-number placeholder="保固金比例" v-model="project.securingPayableAmount" controls-position="right">
                                    </el-input-number>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <div class="form-group">
                                        <label>項目主體</label>
                                        <el-select placeholder="項目主體" v-model="project.projectMainId">
                                            <el-option v-for="item in projectMainOptions"
                                                       :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                            </el-option>
                                        </el-select>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>項目类型</label>
                                    <el-select placeholder="項目类型" v-model="project.projectTypeId" filterable>
                                        <el-option v-for="item in projectTypeOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>項目合約</label>
                                    <el-select placeholder="項目合約" v-model="project.contractTypeId" filterable>
                                        <el-option v-for="item in contractTypeOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>承接类型</label>
                                    <el-select placeholder="承接类型" v-model="project.undertakingId" filterable>
                                        <el-option v-for="item in undertakingOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>

                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">

                                    <label>合約結算方式</label>
                                    <el-select placeholder="合約結算方式" v-model="project.settlementMethodId" filterable>
                                        <el-option v-for="item in settlementMethodOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>

                                </div>

                            </div>
                        </div>
                        <el-divider content-position="left">判給關係</el-divider>
                        <div class="row">

                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>定作人</label>
                                    <el-select placeholder="定作人" v-model="project.setterId" filterable>
                                        <el-option v-for="item in supplierOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>承建商</label>
                                    <el-select placeholder="承建商" v-model="project.contractorsId" filterable>
                                        <el-option v-for="item in supplierOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>第一分判</label>
                                    <el-select placeholder="第一分判" v-model="project.firstId" filterable>
                                        <el-option v-for="item in supplierOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>第二分判</label>
                                    <el-select placeholder="第二分判" v-model="project.secondId" filterable>
                                        <el-option v-for="item in supplierOptions"
                                                   :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                        </div>
                        <el-divider content-position="left">時間</el-divider>
                        <div class="row">

                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>實際開始</label>
                                    <el-date-picker type="date" v-model="project.beginDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="實際開始時間">
                                    </el-date-picker>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>實際結束</label>
                                    <el-date-picker type="date" v-model="project.endDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="實際結束時間">
                                    </el-date-picker>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>評估開始</label>
                                    <el-date-picker type="date" v-model="project.estimatedBeginDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="評估開始時間">
                                    </el-date-picker>
                                </div>

                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">

                                    <label>評估結束</label>
                                    <el-date-picker type="date" v-model="project.estimatedEndDate" format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="評估結束時間">
                                    </el-date-picker>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 form-inline">
                                <div class="form-group">

                                    <label>備註</label>
                                    <el-input type="textarea"
                                              :autosize="{ minRows: 3, maxRows: 7}" style="width: 700px;"
                                              placeholder="備註"
                                              v-model="project.remark">
                                    </el-input>
                                </div>

                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                
                <el-tab-pane label="成本支出" name="second2" :disabled="isDisabled">
                    <bg-costout :projectid="project.id" :datasource="project.costOut"></bg-costout>
                </el-tab-pane>
                <el-tab-pane label="成本收入" name="second3" :disabled="isDisabled">

                    <bg-costin :projectid="project.id" :datasource="project.costIn"></bg-costin>
                </el-tab-pane>

               
                <el-tab-pane label="相關文件" name="second5" :disabled="isDisabled">
                    <bg-aboutfiles :projectid="project.id" :datasource="project.aboutFiles"></bg-aboutfiles>
                  
                </el-tab-pane>
            </el-tabs>


        </el-card>
    </el-dialog>


</script>

<script type="text/javascript">


    Vue.component('bg-edit-project',
        {

            template: '#editproject',
            data: function () {
                return {
                    eldialogvisible: this.visible,
                    innerDrawer: false,

                    activeName: "first",
                    isDisabled: false,
                    form: {},
                    userOptions:@Html.GetUserOptions(),
                    supplierOptions:@Html.GetLastHome(),
                    projectMainOptions:@Html.GetBasics(BasicsCode.ProjectMain),
                    settlementMethodOptions:@Html.GetBasics(BasicsCode.SettlementMethod),
                    contractTypeOptions:@Html.GetBasics(BasicsCode.ContractType),
                    undertakingOptions:@Html.GetBasics(BasicsCode.Undertaking),
                    projectTypeOptions:@Html.GetBasics(BasicsCode.ProjectType),
                    project: { id: '11', name: '項目1', code: 'Mi-gghfsd009', address: '黑沙XXX路', managerName: '林', supremeManagerName: '子' },
                   
                };
            },
            filters: {

            },
            methods: {

                getProjectInfo:   function () {
                    this.$http.get("/api/Project/" + this.projectid).then(req => {
                        this.project = req.data;
                
                    });
                },

                onSumbit: async function () {

                    await this.$http.post("/api/BatchPackage/CompareResult/Approve/" + compareResult.id);
                    this.eldialogvisible = false;
                    this.$emit('closed', true);

                },
                handleUploadExceed: async function (response, file, fileList) {
                    this.fileName = file.name;
                    this.isDisabled = false
                },


            },
            updated: function () {

            },
            watch: {
                visible: function (val) {
                    if (val && this.projectid) {
                        this.getProjectInfo();
                    }
                    this.eldialogvisible = val;
                },
                eldialogvisible: function (val) {

                    if (val) return;

                    this.$emit('update:visible', val)
                }

            },
            props: {
                projectid: String,
                visible: Boolean
            }
        });


</script>
