@model IPagingList
@{
    Layout = "_ManagmentLayout";

}


<style>
    .box-card {
        width: 100%;
    }



    .el-table .error-row {
        background: #fdf7f7;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }


    .el-table .cell-lable {
        min-width: 40px;
        margin-left: 10px;
    }

    .el-table .cell-value {
        margin-left: 10px;
    }

    .el-table .cell .row {
        margin-left: 0px;
    }

    .el-table .cell .dtcell .right {
        text-align: right;
    }
</style>
<div id="appProject">


    <section class="content-header">
        <h1>
            工程管理
            <small>項目收入</small>
        </h1>
        <ol class="breadcrumb">
            <li>工程管理</li>
            <li class="active">項目收入</li>
        </ol>

    </section>
    <!-- 主內容 -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">項目收入</h3>

                        <el-button type="primary" icon="el-icon-edit" size="mini" @@click="onAdd()">添加項目收入</el-button>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>項目編號</label>
                                    <input type="text" class="form-control" placeholder="項目編號" v-model="filterColumns.projectCode">
                                </div>

                            </div>

                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>項目經理</label>
                                    <input type="text" class="form-control" placeholder="項目名稱" v-model="filterColumns.projectManager">
                                </div>

                            </div>



                        </div>
                        <div class="row " style="margin-top:5px">



                            <div class="col-md-4  form-inline">
                                <div class="form-group" align="right">

                                    <div class="input-group">


                                        <button class="btn btn-info" type="submit" v-on:click="onSearchBatch(true)">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查詢
                                        </button>

                                        <button class="btn btn-default" v-on:click="filterColumns = onreset()">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="box-footer" align="right">

                        <el-table :data="datasource">

                            <el-table-column label="編號/名稱" width="180">
                                <template slot-scope="scope">
                                    <div class="row">編號:<div class="cell-value"><el-button type="text" style="padding: 0px;" @@click="onOpenProject(scope.row)"> {{scope.row.code}} </el-button></div></div>
                                    <div class="row">名稱:<div class="cell-value">{{scope.row.name}} </div></div>
                                </template>
                            </el-table-column>


                            <el-table-column prop="invoiceDate" label="開票日期">
                            </el-table-column>
                            <el-table-column prop="lastHomeId" label="上家" :formatter="formatterLastHome">
                            </el-table-column>
                            <el-table-column prop="title" label="摘要">
                            </el-table-column>
                            <el-table-column prop="invoiceNo" label="發票編號">
                            </el-table-column>
                            <el-table-column prop="contractAmount" label="合約金額">
                            </el-table-column>
                            <el-table-column prop="settlementAmount" label="結算金額">
                            </el-table-column>
                            <el-table-column prop="originalContractAmount" label="原合約申請金額">
                            </el-table-column>
                            <el-table-column prop="additionalAmount" label="後加申請金額">
                            </el-table-column>
                            <el-table-column prop="invoiceAmount" label="發票申請金額">
                            </el-table-column>
                            <el-table-column prop="securingAmountRate" label="保固金比例">
                            </el-table-column>
                            <el-table-column prop="subtractSecuringAmount" label="扣減保固金">
                            </el-table-column>
                            <el-table-column prop="subtractPrepaidAmount" label="扣減預付款">
                            </el-table-column>
                            <el-table-column prop="subtractOtherAmount" label="扣除其他款項">
                            </el-table-column>
                            <el-table-column prop="receivableInvoiceAmount" label="應收發票金額">
                            </el-table-column>
                            <el-table-column prop="receivedProjectAmount" label="已收工程款金額">
                            </el-table-column>
                            <el-table-column prop="receivedProjectDate" label="收款日期（工程款）">
                            </el-table-column>
                            <el-table-column prop="receivedSecuringAmount" label="已收保固金金額">
                            </el-table-column>
                            <el-table-column prop="receivedSecuringAmountDate" label="收款日期（保固金）">
                            </el-table-column>
                            <el-table-column prop="surplusSecuringAmount" label="餘額（工程款）">
                            </el-table-column>
                            <el-table-column prop="surplusProjectAmount" label="餘額（保固金）">
                            </el-table-column>
                            <el-table-column prop="remark" label="備註" :show-overflow-tooltip="true">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button @@click="onEdit(scope.row)">修改</el-button>
                                    <el-button>归档</el-button>

                                </template>
                            </el-table-column>
                        </el-table>



                    </div>



                </div>
            </div>
        </div> 
    </section>
</div>

 

<script>


    Vue.use(DYVue);
</script>



<script type="text/javascript">



        new Vue({
            el: '#appProject',

            data: function () {
                return {

                    total:@Model.Total ,
                    pagesize: @Model.PageSize,
                    innerVisiblecostin: false,
                    innerVisibleEditProject:false,
                    datasource: @Html.RawEntity(Model.Items),
                    rec: undefined,

                    filterColumns: this.onreset()
                };
            },
            filters: {
            },
            methods: {
                formatterLastHome: function (row, column, cellValue, index) {

                    var projectTypes =@Html.GetSupplier( );
                    var itemfilter = projectTypes.filter(x => x.id == cellValue);

                    if (itemfilter && itemfilter.length>0) return itemfilter[0].label;
                    return cellValue;

                },
                getprojectId: function () {
                    if (this.rec) return this.rec.projectId;
                    return undefined;
                },
                onSearchBatch: async function (flag) {
                    if (flag) { this.filterColumns.pageno = 1; }
                    var filter =  { ...this.filterColumns }

                    var response = await this.$http.get("/api/ProjectIncome", { params: filter });
                    this.total = response.data.total;
                    this.datasource = response.data.items;


                },
                onreset: function () {
                   return {
                       projectCode: '',
                       projectName: '',
                       projectMain: '',
                       projectManager: '',
                       projectState: '',
                       contractType: '',
                        greeCode: [],
                        pageno: 1};
                },
                onChangePager: function (current) {

                    this.pageno = current;
                    this.onSearchBatch(false);
                },
                onAdd: function () {
                    this.rec = { projectId: undefined };
                    this.innerVisiblecostin = true;
                },


                onEdit: function (val) {
                    this.rec = val;
                    this.innerVisiblecostin = true;
                },
                onOpenProject: function (val) {
                    this.rec = val;
                    this.innerVisibleEditProject = true;
                }






            },
            updated: function(){

            },
            watch: {


            }

        });


</script>
