
@{


}
<style>
    .box-card {
        width: 100%;
    }
</style>
<script type="text/x-template" id="addprocurement">

    <el-dialog width="80%"
               title="添加採購審批"
               :visible.sync="eldialogvisible"
               append-to-body>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="eldialogvisible = false">取 消</el-button>
            <el-button type="danger" @@click="onSave()">保存</el-button> 
        </span>

        <el-container>
            <el-main>

                <el-card class="box-card">
                    <div class="row" v-if="projectid===undefined">
                        <div class="col-md-3 form-inline">

                            <div class="form-group">
                                <label>項目编号</label>
                                <el-select v-model="rec.projectId"
                                           filterable
                                           remote
                                           reserve-keyword
                                           placeholder="请输入关键词"
                                                 @@change="changeProject"
                                           :remote-method="remoteMethod"
                                           :loading="loading">
                                    <el-option v-for="item in options"
                                               :key="item.value" :label="item.label" :value="item.id">
                                        <span style="float: left">{{ item.label }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                                    </el-option>
                                </el-select>
                            </div>



                        </div>
                    </div>

                    <el-tabs v-model="activeName" >
                        <el-tab-pane label="基礎信息" name="tab1" :disabled="disabledProject()">



                            <div class="row">


                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>採購審批類型</label>
                                        <el-select placeholder="材料/外判類型" v-model="rec.procurementType" filterable :disabled="getProcurementTypeDisabled"
                                             
                                                   >

                                            <el-option v-for="item in procurementTypeOptions"
                                                       :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled">
                                            </el-option>
                                        </el-select>

                                    </div>

                                </div>


                            </div>



                            <div class="row">

                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>材料/外判類型</label>
                                        @*<el-select placeholder="材料/外判類型" v-model="rec.supplierType" filterable>
                                                <el-option v-for="item in supplierOptions"
                                                           :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                                </el-option>
                                            </el-select>*@
                                        <input type="text" class="form-control" v-model="rec.supplierType" placeholder="材料/外判類型">
                                    </div>

                                </div>
                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>供應商/分判商</label>
                                        <el-select placeholder="供應商/分判商" v-model="rec.supplierID" filterable>
                                            <el-option v-for="item in supplierOptions"
                                                       :key="item.value" :label="item.label" :value="item.id" :disabled="item.disabled">
                                            </el-option>
                                        </el-select>
                                    </div>

                                </div>
                            </div>
                            <div class="row" v-if="rec.procurementType===1 ||rec.procurementType==='1'">


                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>項目負責人意見</label>
                                        <input type="text" class="form-control" :autosize="{ minRows: 3, maxRows: 7}" v-model="rec.managerOpinion" style="width: 700px;" placeholder="項目負責人意見">

                                    </div>

                                </div>
                            </div>
                            <div class="row" v-if="rec.procurementType===1 ||rec.procurementType==='1'">


                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>材料用途</label>
                                        <input type="text" class="form-control" :autosize="{ minRows: 3, maxRows: 7}" v-model="rec.materialUsage" style="width: 700px;" placeholder="材料用途">

                                    </div>

                                </div>
                            </div>

                            <div class="row" v-if="rec.procurementType===2 ||rec.procurementType==='2'">


                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>總採購金額</label>
                                        <input type="text" class="form-control" v-model="rec.totalPurchaseAmount" placeholder="總採購金額">

                                    </div>

                                </div>

                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>支付方式</label>

                                        <input type="text" class="form-control" v-model="rec.paymentMethod" placeholder="支付方式">
                                    </div>

                                </div>
                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>聯繫電話</label>
                                        <input type="text" class="form-control" v-model="rec.phone" placeholder="聯繫電話">

                                    </div>

                                </div>
                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>聯繫地址</label>
                                        <input type="text" class="form-control" v-model="rec.address" placeholder="項目代碼">

                                    </div>

                                </div>
                            </div>


                            <div class="row" v-if="rec.procurementType===3 ||rec.procurementType==='3'">


                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>總採購金額</label>
                                        <input type="text" class="form-control" v-model="rec.totalPurchaseAmount" placeholder="總採購金額">

                                    </div>

                                </div>


                            </div>
                            <div class="row" v-if="rec.procurementType===4 ||rec.procurementType==='4'">


                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>代付金額</label>
                                        <input type="text" class="form-control" v-model="rec.paidAmount" placeholder="代付金額">

                                    </div>

                                </div>
                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>費用承擔公司</label>
                                        <input type="text" class="form-control" v-model="rec.expenseCompany" placeholder="費用承擔公司">

                                    </div>

                                </div>


                            </div>
                            <div class="row">


                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>成本部意見</label>
                                        <input type="text" class="form-control" :autosize="{ minRows: 3, maxRows: 7}" v-model="rec.costerOpinion" style="width: 700px;" placeholder="成本部意見">

                                    </div>

                                </div>
                            </div>

                            <div class="row">


                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>部門經理意見</label>
                                        <input type="text" class="form-control" :autosize="{ minRows: 3, maxRows: 7}" v-model="rec.departmentOpinion" style="width: 700px;" placeholder="部門經理意見">

                                    </div>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12 form-inline">
                                    <div class="form-group">

                                        <label>備註</label>
                                        <el-input type="textarea"
                                                  :autosize="{ minRows: 3, maxRows: 7}" style="width: 700px;"
                                                  placeholder="備註"
                                                  v-model="rec.remark">
                                        </el-input>
                                    </div>

                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="BQ對比表" name="tab2" v-if="rec.procurementType!==4 &&rec.procurementType!=='4'" :disabled="disabledProject()">

                            <el-row>
                             
                                <el-button type="primary" icon="el-icon-edit" circle @@click="newBQItem()"></el-button>

                            </el-row>
                            <el-table border :data="rec.items">
                                <el-table-column label="項目" prop="name"> </el-table-column>
                                <el-table-column label="摘要" prop="content"> </el-table-column>
                                <el-table-column label="單位" prop="unit"> </el-table-column>
                                <el-table-column label="中標造價">
                                    <el-table-column label="單位" prop="bidQuantity"> </el-table-column>
                                    <el-table-column label="數量" prop="bidPrice"> </el-table-column>
                                    <el-table-column label="單價" prop="bidAmount"> </el-table-column> 
                                </el-table-column>
                                <el-table-column label="包工包料" v-if="rec.procurementType!==1 && rec.procurementType!=='1'">
                                    <el-table-column label="採購數量" prop="procurementQuantity"> </el-table-column>
                                    <el-table-column label="採購單價" prop="procurementPrice"> </el-table-column>
                                    <el-table-column label="採購金額" prop="procurementAmount"> </el-table-column>
                                </el-table-column>

                                <el-table-column label="供應商" v-if="rec.procurementType===1 || rec.procurementType==='1'">
                                    <el-table-column label="本次採購數量" prop="procurementQuantity"> </el-table-column>
                                    <el-table-column label="本次採購單價" prop="procurementPrice"> </el-table-column>
                                    <el-table-column label="本次採購金額" prop="procurementAmount"> </el-table-column>
                                    <el-table-column label="已採購數量" prop="procurementEndQuantity"> </el-table-column>
                                    <el-table-column label="已採購單價" prop="procurementEndPrice"> </el-table-column>
                                    <el-table-column label="已採購金額" prop="procurementEndAmount"> </el-table-column>
                                    <el-table-column label="總採購金額" prop="procurementEndTotalAmount"> </el-table-column>
                                </el-table-column>
                                <el-table-column label="其他暫估">
                                    <el-table-column label="總採購數量" prop="totalQuantity"> </el-table-column>
                                    <el-table-column label="單價" prop="otherPrice"> </el-table-column>
                                    <el-table-column label="總計" prop="total"> </el-table-column>
                                </el-table-column>
                                <el-table-column label="備註" prop="remark"> </el-table-column>
                            </el-table>
                        </el-tab-pane>
                        <el-tab-pane label="上传文件" name="tab3" :disabled="disabledProject()">

                            <div class="row">
                                <div class="col-md-3 form-inline">
                                    <div class="form-group">

                                        <label>上傳合約文件</label>
                                        <el-upload class="upload-demo"
                                                   action="/api/Project/Procurement/file"
                                                   :show-file-list="false"
                                                   :data="uploaddata"
                                             
                                                   :on-success="handleUploadExceed">
                                            <el-button size="small" icon="el-icon-upload">點擊上傳</el-button>

                                        </el-upload>


                                    </div>

                                </div>
                            </div>
                            <el-table border :data="rec.files">
                                <el-table-column label="文件名称" prop="fileName" > </el-table-column>
                                <el-table-column label="大小"  prop="fileSize"> </el-table-column>
                                <el-table-column label="上传时间"  prop="createdDate"> </el-table-column>

                            </el-table>
                        </el-tab-pane>
                    </el-tabs>
                </el-card>

            </el-main>
            <el-dialog width="80%"
                       title="添加BQ對比表"
                       :visible.sync="innerVisiblecostin"
                       append-to-body>

                <el-card>
                    <div class="row">


                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>項目</label>

                                <input type="text" class="form-control" v-model="bqItem.name" placeholder="項目">



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>摘要</label>

                                <input type="text" class="form-control" v-model="bqItem.content" placeholder="摘要">



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>單位</label>

                                <input type="text" class="form-control" v-model="bqItem.unit" placeholder="單位">



                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <el-divider content-position="left">中標造價</el-divider>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>數量</label>

                                <el-input-number v-model="bqItem.bidQuantity" placeholder="數量"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>單價</label>

                                <el-input-number v-model="bqItem.bidPrice" placeholder="單價"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>總計</label>

                                <el-input-number v-model="bqItem.bidAmount" placeholder="總計"></el-input-number>



                            </div>

                        </div>

                    </div>
                    <div class="row" v-if="rec.procurementType===1 || rec.procurementType==='1'">

                        <el-divider content-position="left">材料</el-divider>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>本次採購數量</label>

                                <el-input-number v-model="bqItem.procurementQuantity" placeholder="本次採購數量"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>本次採購單價</label>

                                <el-input-number v-model="bqItem.procurementPrice" placeholder="本次採購單價"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>本次採購金額</label>

                                <el-input-number v-model="bqItem.procurementAmount" placeholder="本次採購金額"></el-input-number>



                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>已採購數量</label>

                                <el-input-number v-model="bqItem.procurementEndQuantity" placeholder="已採購數量"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>已採購單價</label>

                                <el-input-number v-model="bqItem.procurementEndPrice" placeholder="已採購單價"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>已採購金額</label>

                                <el-input-number v-model="bqItem.procurementEndAmount" placeholder="已採購金額"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>總採購金額</label>

                                <el-input-number v-model="bqItem.procurementEndTotalAmount" placeholder="總採購金額"></el-input-number>



                            </div>

                        </div>

                    </div>
                    <div class="row" v-if="rec.procurementType!==1 && rec.procurementType!=='1'">

                        <el-divider content-position="left">包工包料</el-divider>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>採購數量</label>

                                <el-input-number v-model="bqItem.procurementQuantity" placeholder="採購數量"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>採購單價</label>

                                <el-input-number v-model="bqItem.procurementPrice" placeholder="採購單價"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>採購金額</label>

                                <el-input-number v-model="bqItem.procurementAmount" placeholder="採購金額"></el-input-number>



                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <el-divider content-position="left">其他暫估</el-divider>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>總採購數量</label>

                                <el-input-number v-model="bqItem.totalQuantity" placeholder="總採購數量"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>單價</label>

                                <el-input-number v-model="bqItem.otherPrice" placeholder="單價"></el-input-number>



                            </div>

                        </div>
                        <div class="col-md-3 form-inline">
                            <div class="form-group">

                                <label>總計</label>

                                <el-input-number v-model="bqItem.total" placeholder="總計"></el-input-number>



                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 form-inline">
                            <div class="form-group">

                                <label>備註</label>
                                <el-input type="textarea"
                                          :autosize="{ minRows: 3, maxRows: 7}" style="width: 700px;"
                                          placeholder="備註"
                                          v-model="bqItem.remark">
                                </el-input>
                            </div>

                        </div>
                    </div>
                </el-card>

                <span slot="footer" class="dialog-footer">
                    <el-button @@click="innerVisiblecostin = false">取 消</el-button>
                    <el-button type="danger" @@click="addbqItem()">保存</el-button>
                 
                </span>
            </el-dialog>
        </el-container>
    </el-dialog>


</script>

<script type="text/javascript">


    Vue.component('bg-add-procurement',
        {

            template: '#addprocurement',
            data: function () {
                return {
                    eldialogvisible: this.visible,
                    userOptions:@Html.GetUserOptions(),
                    supplierOptions:@Html.GetSupplier(),
                    loading: false,
                    activeName: 'tab1',
                    options: [],
                    uploaddata: { projectId: 0, procurementid: 0 },
                    procurementTypeOptions:@Html.GetBasics(BasicsCode.ProcurementType),
                    getProcurementTypeDisabled: false,
                    innerVisiblecostin: false,
                    rec: { id: '', files: [], items: [] },
                    bqItem: {},
                };
            },
            filters: {

            },
            methods: {
                newBQItem: function () {
                    this.innerVisiblecostin = true;
                    this.bqItem = {};
                },
                addbqItem: function () {
                    this.innerVisiblecostin = false;
                    this.rec.items.push(this.bqItem);

                },
                disabledProject: function () {
                    return this.rec.projectId === undefined;
                },
                changeProject: function () {
                    this.uploaddata.projectId = this.rec.projectId;

                },
                remoteMethod: function (query) {
                    if (query !== '') {
                        this.loading = true;
                        this.$http.get('/api/Project/Search', { params: { code: query } }).then(x => {
                            this.loading = false;
                            this.options = x.data;
                        }).catch(x => { this.loading = false; })
                    }
                },  
                onGetId: function () {
                    this.$http.get("/api/Project/Procurement/draft").then(x => {
                        this.rec = { id: x.data, files: [], items: [] };
                        
                        this.uploaddata.procurementid = this.rec.id;
                        if (this.projectid) {
                            this.rec.projectId = this.projectid;
                            this.uploaddata.projectId = this.rec.projectId;
                        }
                    });
                },
                onGetitem: function (id) {
                    this.$http.get("/api/Project/Procurement/"+id).then(x => {
                        this.rec = x.data;
                        this.uploaddata.procurementid = this.rec.id;
                        this.uploaddata.projectId = this.rec.projectId;
                    });
                },
           
                onSave: async function () {

                  
                    await this.$http.post("/api/Project/Procurement", this.rec);
                  
                    this.eldialogvisible = false;
                    this.$emit('closed', true);

                },
                onAddBQ: function () {
                    this.getProcurementTypeDisabled = true;
                },
                handleUploadExceed: function (response, file, fileList) {

                    this.rec.files.push(response);

                    this.getProcurementTypeDisabled = true;
                },


            },
            updated: function () {

            },
            watch: {
                visible: function (val) {

                  
                    this.eldialogvisible = val;
                    if (val   ) {
                        if (this.id === undefined) {

                            this.onGetId();
                        } else {
                            this.onGetitem(this.id);
                        }


                    }
                },
                eldialogvisible: function (val) {

                    if (val) return;

                    this.$emit('update:visible', val)
                }

            },
            props: {
                id:String,
                projectid:String,
                visible: Boolean
            }
        });


</script>
