@model IPagingList
@{
    Layout = "_ManagmentLayout";

}
<div id="appSupplier">

    @*<my-role v-bind:data="title"></my-role>*@
    <section class="content-header">
        <h1>
            用户管理
            <small>查询</small>
        </h1>
        <ol class="breadcrumb">
            <li>系统管理</li>
            <li class="active">用户管理</li>
        </ol>
    </section>
    <!-- 主內容 -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">查询</h3>
                        <el-button class="btn btn-default" size="small" icon="fa fa-truck" v-on:click="onNew()">添加供應商</el-button>
                    </div>

                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>供應商名稱</label>
                                    <input type="text" class="form-control" placeholder="供應商名稱" v-model="filterColumns.name">
                                </div>

                            </div>
                            <div class="col-md-4 form-inline">
                                <div class="form-group">
                                    <label>聯繫人員名稱</label>
                                    <input type="text" class="form-control" placeholder="聯繫人員名稱" v-model="filterColumns.manName">
                                </div>

                            </div>




                        </div>
                        <div class="row " style="margin-top:5px">



                            <div class="col-md-4  form-inline">
                                <div class="form-group" align="right">

                                    <div class="input-group">


                                        <button class="btn btn-info" type="submit" v-on:click="onsearch(true)">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
                                        </button>

                                        <button class="btn btn-default" v-on:click="onreset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer" align="right">
                        <div class="box box-success">
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <el-table v-bind:data="datasource" stripe class="table table-striped">


                                        <el-table-column label="供應商名稱" prop="name">
                                        </el-table-column>
                                        <el-table-column label="地址" prop="address">
                                        </el-table-column>
                                        <el-table-column label="電話" prop="officeTel">
                                        </el-table-column>
                                        <el-table-column label="傳真" prop="fax">
                                        </el-table-column>

                                        <el-table-column label="聯繫人" prop="manName">
                                        </el-table-column>
                                        <el-table-column label="聯繫人電話" prop="manTel">
                                        </el-table-column>




                                        <el-table-column fixed="right" label="操作" width="250">
                                            <template scope="scope">
                                                @*<el-button  @@click="openUploadDetails(scope.row)" size="small">上传记录</el-button>*@
                                                <el-button @@click="openBinding(scope.row)" size="small" type="danger">修改</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <el-pagination v-bind:total="total" layout="prev, pager, next , total" v-bind:current-page.sync="filterColumns.pageno" @@current-change="onChangePager"></el-pagination>

                                </div>
                            </form>
                        </div>
                    </div>

                    <el-supplier-detail :supplier="rec" :is-edit="isEdit" :visible.sync="innerVisible"></el-supplier-detail>
                </div>

            </div>
        </div>

    </section>
</div>
<partial name="~/Views/Platform/PartialSupplier.cshtml" />
<script type="text/javascript">



    Vue.use(DYVue);
    new Vue({

        el: '#appSupplier',
        data: function () {
            return {
                total:@Model.Total ,
                pagesize: @Model.PageSize,
                datasource: @Html.RawEntity(Model.Items),

                filterColumns: {
                    name: '',
                    manName: '',
                    pageno: 1
                },

                isEdit: false,
                innerVisible: false,
                rec: null
            };
        },
        methods: {

            onsearch: function (flag) {
                if (flag) { this.filterColumns.pageno = 1; }
                var filter = { ...this.filterColumns }

                this.$http.get("/api/Platform/Supplier", { params: filter}).then((response) => {
                    this.total = response.data.total;
                    this.datasource = response.data.items;

                });
            },
            onreset: function () {
                this.filterColumns = { name: '', code: '', state: '', pageno: 1 };
            },
            onChangePager: function (current) {
                this.pageno = current;
                this.onsearch(false);
            },
            openBinding: function (row) {
                this.rec = row;
                this.isEdit = true;
                this.innerVisible = true;
           
            },

            onNew: function () {
                this.isEdit = false;
             
                this.rec = {id:0};
                this.innerVisible = true;
            }

        },
        updated: function(){

        },
        watch: {


        }

    });


</script>


